{# Параметры страницы #}

{% set pageType = "mainPage" %}
{% set pageWidth = "fullWidth" %}
{% set pageTitle = "Главная" %}
{% set bannerBreacrumbs = true %}

{# Параметры страницы #}

{% extends "layouts/_layout.njk" %}
{% block content %}

{% endblock %}
